@font-face {
    src: url(fonts/Alegreya.ttf);
    font-family: Alegreya;
}

@font-face {
    src: url(fonts/EBGaramond.ttf);
    font-family: EBGaramond;
}

@font-face {
    src: url(fonts/Cutive.ttf);
    font-family: Cutive;
}

body {
  font-family: 'Alegreya';
  font-feature-settings: frac;
  font-variant: common-ligatures tabular-nums oldstyle-nums;
}

.num {
    font-variant: diagonal-fractions;
}

article {
    max-width: 80ch;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'EBGaramond';
    font-variant: lining-nums tabular-nums;
}

h1 {
    font-size: 2rem;
    font-variant: small-caps;
    margin: 15px 0;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 15px 0;
}

h3 {
    font-size: 1.3rem;
    margin: 15px 0;
}

p {
    font-size: 1rem;
    line-height: 1.07;
    margin: 15px 0;
}

small {
    font-size: 0.6em;
}

i {font-style: italic;}
b {font-weight: bold;}
strong {font-weight: bold;}
em {font-style: italic;}

ul {
    list-style: circle inside none;
}

ol {
    list-style: decimal inside none;
}

ol ol {
    margin-left: 4ch;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

td {
    padding-right: 10px;
}

th {
    padding-right: 10px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid black;
}

code {
    font-family: 'Cutive';
    letter-spacing: -1px;
}

pre code {
    display: block;
    margin: 0 4ch 5px 2ch;
    overflow: auto;
}
